{% load static %}
<div class="top-parent">
        <img class="img-bg" src="{% static 'photos/car_theme.png' %}">

        <div class="top-content">


            <img class="img-logo2" src="{% static 'photos/car_logo.png' %}" alt="EXKLUZIVNÍ VŮNĚ
AREON">
            <p class="home-text">
                Zpříjemněte si jízdu autem unikátním osvěžovačem vzduchu Areon. Energická vůně odplaví všechny vaše starosti a zůstanete jen vy, váš vůz a skvělý pocit z řízení. Výrobky Areon svým elegantním vzhledem skvěle doplní interiér auta a vytvoří nezapomenutelnou atmosféru.
            </p>




        </div>






    </div>
