{% load static %}
<div class="top-parent">
        <img class="img-bg" src="{% static 'photos/homeoff_theme.png' %}">

        <div class="top-content">


            <img class="img-logo2" src="{% static 'photos/homeoff_logo.png' %}" alt="EXKLUZIVNÍ VŮNĚ
AREON">
            <p class="home-text">
Zútulněte svůj domov s unikátním osvěžovačem vzduchu Areon. Smyslná přírodní vůně okouzlí vaše smysly a vytvoří ve vašem interiéru příjemnou atmosféru. Použijte výrobky Areon do každého prostoru, který potřebuje osvěžit. Ať už jde o obývací pokoj, WC, koupelnu, ložnici nebo kancelář, všude vám pomohou podmanivé vůně Areon vytvořit dokonalý prostor k životu i práci.
            </p>




        </div>






    </div>
