{% load static %}
<div class="top-parent">
        <img class="img-bg" src="{% static 'photos/luxury_car_theme.png' %}">

        <div class="top-content">


            <img class="img-logo2" src="{% static 'photos/luxury_logo.png' %}" alt="EXKLUZIVNÍ VŮNĚ
AREON">
            <p class="home-text">
               Podmanivý zvuk motoru, vítr na tváři a zrychlený tep. To vše patří ke skvělé jízdě autem.
                Co by ale rozhodně nemělo chybět? Elegantní vůně, která umocní váš zážitek a vytvoří v interiéru vašeho vozu atmosféru luxusu. Pozvedněte jízdu autem na novou úroveň s osvěžovačem vzduchu Areon.
            </p>




        </div>






    </div>
